{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - {{ params.title }}</title>
{% endblock %}

{% block bannerStyle %}red{% endblock %}

{% block bannerContent %}
    <h1 class="text-center-small nomargin-small h1-big">{{ params.title }}</h1>
{% endblock %}

{% block body %}
    <h2>Single event</h2>
    <a href="{{ path_for('Event.Update', {'id': params.event_id}) }}">{{ params.title }}</a>

    <form action="{{ path_for('Event.Participate', {'id': params.event_id}) }}" method="POST">
        <button type="submit">Participate in {{ params.title }}</button>
    </form>
{% endblock %}