{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - Create event</title>
{% endblock %}

{% block bannerStyle %}red{% endblock %}

{% block bannerContent %}
    <h1 class="text-center-small nomargin-small h1-big">Update {{ params.title }}</h1>
{% endblock %}

{% block body %}
    <div class="row space-small">
        <div class="col-small-grow">
            <div class="pane pane-fill"></div>
        </div>
        <div class="col-small-shrink">
            <form action="{{ path_for('Event.Delete', {id: params.event_id}) }}" method="POST">
                <button class="button button-small" type="submit">Delete this event</button>
            </form>
        </div>
    </div>

    <form class="space-small" action="{{ path_for('Event.Update', {id: params.event_id}) }}" method="POST" autocomplete="off">
        <input name="event_id" type="hidden" value="{{ params.event_id }}">
        <input name="address_id" type="hidden" value="{{ params.address_id }}">

        <div class="row">
            <div class="col-small-12 space-small">
                <label for="address1">Address line 1</label>
                <input id="address1" name="address1" type="text" placeholder="Address line 1" value="{{ params.address1 }}">
                {% if errors.address1 %}
                    <div class="error-block">{{ errors.address1 }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="address2">Address line 2</label>
                <input id="address2" name="address2" type="text" placeholder="Address line 2" value="{{ params.address2 }}">
                {% if errors.address2 %}
                    <div class="error-block">{{ errors.address2 }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="postal_code">Postal code</label>
                <input id="postal_code" name="postal_code" type="text" placeholder="Postal code" value="{{ params.postal_code }}">
                {% if errors.postal_code %}
                    <div class="error-block">{{ errors.postal_code }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="city_id">City</label>
                <select id="city_id" name="city_id">
                    {% for city in cities %}
                        <option value="{{ city.id }}" {{ city.id == params.city_id ? 'selected' : '' }}>{{ city.name }}</option>
                    {% endfor %}
                </select>
                {% if errors.city_id %}
                    <div class="error-block">{{ errors.city_id }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="country">Country</label>
                <input id="country" type="text" value="Denmark" disabled>
            </div>
            <div class="col-small-12 space-small">
                <label for="title">Title</label>
                <input id="title" name="title" type="text" placeholder="Title" value="{{ params.title }}">
                {% if errors.title %}
                    <div class="error-block">{{ errors.title }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Description">{{ params.description }}</textarea>
                {% if errors.description %}
                    <div class="error-block">{{ errors.description }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="category">Category</label>
                <input id="category" name="category" type="text" placeholder="Category" value="{{ params.category }}">
                {% if errors.category %}
                    <div class="error-block">{{ errors.category }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="start">Start date</label>
                <input id="start" name="start" type="text" placeholder="Start date" value="{{ params.start }}">
                {% if errors.start %}
                    <div class="error-block">{{ errors.start }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="end">End date</label>
                <input id="end" name="end" type="text" placeholder="End date" value="{{ params.end }}">
                {% if errors.end %}
                    <div class="error-block">{{ errors.end }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-small-shrink">
                <button class="button button-small" type="submit">Submit update</button>
            </div>
            <div class="col-small-grow">
                <div class="pane pane-fill"></div>
            </div>
        </div>
    </form>
{% endblock %}