{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - Events</title>
{% endblock %}

{% block bannerStyle %}red{% endblock %}

{% block bannerContent %}
    <h1 class="text-center-small nomargin-small h1-big">Events</h1>
{% endblock %}

{% block body %}
    <h2>Listing of events</h2>

    <div class="row flex-justify-center-small">
        {% for event in events %}
            <div class="col-small-12 col-medium-6 col-large-4 col-xlarge-3 space-small">
                <div class="pane">
                    <h4 class="space-small">{{ event.title }}</h4>
                    <a class="button button-small" href="{{ path_for('Event.Single', {'id': event.event_id}) }}">View event</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}