{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - Sign in</title>
{% endblock %}

{% block body %}
    <form action="{{ path_for('Auth.SignIn') }}" method="POST">
        <fieldset>
            <legend>Sign in</legend>

            {% if errors %}
                <div class="text-error">Invalid e-mail or password.</div>
            {% endif %}

            <label for="email">E-mail</label>
            <input id="email" name="email" type="text" placeholder="E-mail" value="{{ params.email }}">
            
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password">

            {% if error %}
                <div class="error-block">{{ error }}</div>
            {% endif %}

            <button type="submit">Sign in</button>
        </fieldset>
    </form>
{% endblock %}