{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - Sign in</title>
{% endblock %}

{% block bannerStyle %}green{% endblock %}

{% block bannerContent %}
    <h1 class="text-center-small nomargin-small h1-big">Events</h1>
{% endblock %}

{% block body %}
    <form action="{{ path_for('Auth.SignIn') }}" method="POST" autocomplete="off">
        <div class="row">
            <div class="col-small-12 space-small">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="Username" value="{{ params.username }}">
            </div>
            <div class="col-small-12 space-small">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password" value="{{ params.password }}">
            </div>
        </div>

        {% if errors.credentials %}
            <div class="error-block space-small">{{ errors.credentials }}</div>
        {% endif %}

        <div class="row">
            <div class="col-small-shrink">
                <button class="button button-small" type="submit">Sign in</button>
            </div>
            <div class="col-small-grow">
                <div class="pane pane-fill"></div>
            </div>
        </div>
    </form>
{% endblock %}