{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - Sign in</title>
{% endblock %}

{% block body %}
    <form action="{{ path_for('Auth.SignIn') }}" method="POST">
        <fieldset>
            <legend>Sign in</legend>

            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Username" value="{{ params.username }}">
            
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password" value="{{ params.password }}">

            {% if errors.credentials %}
                <div class="error-block">{{ errors.credentials }}</div>
            {% endif %}

            <button type="submit">Sign in</button>
        </fieldset>
    </form>
{% endblock %}