{% extends 'Shared/Layout.html' %}

{% block head %}
    {{ parent() }}
    <title>Evento - Sign up</title>
{% endblock %}

{% block body %}
    <form action="{{ path_for('Auth.SignUp') }}" method="POST">
        <div class="row">
            <div class="col-small-12 space-small">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" placeholder="Username" value="{{ params.username }}">
                {% if errors.username %}
                    <div class="error-block">{{ errors.username }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="email">E-mail</label>
                <input id="email" name="email" type="text" placeholder="E-mail" value="{{ params.email }}">
                {% if errors.email %}
                    <div class="error-block">{{ errors.email }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password" value="{{ params.password }}">
                {% if errors.password %}
                    <div class="error-block">{{ errors.password }}</div>
                {% endif %}
            </div>
            <div class="col-small-12 space-small">
                <label for="password_confirmation">Confirm password</label>
                <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Confirm password" value="{{ params.password_confirmation }}">
                {% if errors.password_confirmation %}
                    <div class="error-block">{{ errors.password_confirmation }}</div>
                {% endif %}
            </div>            
        </div>

        {% if errors.database %}
            <div class="error-block space-small">{{ errors.database }}</div>
        {% endif %}

        <button class="button" type="submit">Sign up</button>
    </form>
{% endblock %}