<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ base_url() }}/Assets/bootstrap-reboot.css" media="all">
        <link rel="stylesheet" href="{{ base_url() }}/Assets/bootstrap-grid.css" media="all">
        <link rel="stylesheet" href="{{ base_url() }}/Assets/defaults.css" media="all">
    {% endblock %}
</head>

<body>
    <nav class="container">
        <a href="{{ path_for('Main') }}">Home</a>

        {% if user %}
            <a href="{{ path_for('Auth.SignOut') }}">Sign Out</a>
            <div class="align-right">Signed in as {{ user.name }}</div>
        {% else %}
            <a href="{{ path_for('Auth.SignIn') }}">Sign in</a>
            <a href="{{ path_for('Auth.SignUp') }}">Sign up</a>
        {% endif %}
    </nav>



    <main class="container">
        <div class="card">
            {% block body %}{% endblock %}
        </div>
    </main>
</body>

</html>