@import "variables";

.slide-in {
    animation: slide-in 1.5s forwards;
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slide-in {
    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes color-pulse {
    0% {
        background-color: darken($red, 20%);
        border-color: $red;
    }

    33% {
        background-color: darken($teal, 20%);
        border-color: $teal;
    }

    66% {
        background-color: darken($green, 20%);
        border-color: $green;
    }
    100% {
        background-color: darken($red, 20%);
        border-color: $red;
    }
}