@import "variables.scss";

html,
body {
    min-height: 100vh;
}

body {
    position: relative;
    padding-bottom: 97px;
}

#main {
    padding-top: (4 * $padding);
    padding-bottom: (2 * $padding);
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#header {
    background-color: $borderColor;

    #banner {
        border-top: 1px solid lighten($borderColor, 10%);
        color: $textColor;
    }
}

#header.teal {
    background-color: $teal;

    #banner {
        border-top: 1px solid lighten($teal, 10%);
        color: $contraTeal;
        /*background: url(img/clouds.png) center center no-repeat;
        background-size: cover;*/
    }
}

#header.green {
    background-color: $green;

    #banner {
        border-top: 1px solid lighten($green, 10%);
        color: $contraGreen;
    }
}

#header.red {
    background-color: $red;

    #banner {
        border-top: 1px solid lighten($red, 10%);
        color: $contraRed;
    }
}

#navigation {
    color: $white;
}

#banner {
    padding: 60px 0;
}

#header .mono {
    color: $white;
}

#header .mono,
#footer .mono {
    text-decoration: none;
}

#footer .mono {
    border-top: 1px solid $borderColor;
    padding-top: $padding;
}

.mono {
    display: inline-block;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -1px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.max-500 {
    max-width: 500px;
}

#loader {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

#loader.active {
    opacity: 1;
    visibility: visible;
}