@import "variables.scss";

.pane {
    position: relative;
    border: 2px solid $borderColor;
    padding: $padding;
}

.pane-fill {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $textColor;
    border: 0;
}

[class*="col-"] > .pane {
    height: 100%;
}